{% extends "savethedate/base_generic.html" %}


{% block content %}
<div class="w3-center w3-margin-right w3-margin-left w3-handlee">

    {% if validlink %}
        <p>Per favore inserisci (e conferma) la tua nuova password. </p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuova password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Conferma password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Modifica password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1 class="w3-handlee">Reset della password fallito</h1>
        <p>Il link di reset non è valido perché è già stato usato. Per favore fai di nuovo richiesta per una nuova password</p>
    {% endif %}
</div>
{% endblock %}