{% extends "savethedate/base_generic.html" %}

{% block content %}



<div class="w3-center w3-margin">
	<h1 class="w3-handlee w3-jumbo">Chiesa di San Pio X</h1>
	<img src="/static/savethedate/uva.png" class="w3-round w3-margin w3-padding-left" alt="Uva" class="w3-image" style="max-width:200px"/>
</div>
<div class="w3-center w3-margin	">
	<h3 class="w3-handlee">La chiesa di San Pio X si trova a Marghera in via Aurelio Nicolodi 2.</h3>
	<img src="/static/savethedate/sanpiox.jpg" class="w3-round w3-margin" alt="Chiesa di San Pio X" class="w3-image" style="width:100%;max-width:600px"/>
	<br>
	<br>
	<img src="/static/savethedate/melograni.png" class="w3-round w3-margin" alt="Melograni" class="w3-image" style="max-width:120px"/>

</div>

<div class="w3-center w3-margin">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.035043770912!2d12.216906451215225!3d45.469097978998384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eb6851cc88b41%3A0xd803cd82fcf0dcaa!2sParrocchia+di+San+Pio+X!5e0!3m2!1sit!2sit!4v1488640272471" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<br>
</div>

{% endblock %}