{% extends "savethedate/base_generic.html" %}

{% block content %}

<div class="w3-center w3-margin-right w3-margin-left w3-handlee">
	<h1 class="w3-handlee w3-jumbo">Contatti</h1>
		<img src="/static/savethedate/sposi.png" class="w3-round" alt="Sposi" class="w3-image" style="width:70%; max-width:250px"/>
	<h3 class="w3-handlee">Per ogni informazione, ecco i nostri contatti:</h3>
	<br>
	
	<div class="w3-content" style="width:100%;max-width:500px">
    <div class="w3-content">
			<div class="w3-half"><b>Email</b></div>
			<div class="w3-half">info@miriamgianluca.it</div>
	</div>
	<br>
	<br>
	<br>
	<div class="w3-content">
			<div class="w3-half"><b>Cellulare Miriam</b>:</div>
			<div class="w3-half">347 804 2780</div>
	</div>
	<br>
	<br>
	<br>
	<div class="w3-content">
			<div class="w3-half"><b>Cellulare Gianluca</b>:</div>
			<div class="w3-half">347 993 7496</div>
	</div>
	</div>
	

</div>
<br>



{% endblock %}