{% extends "savethedate/base_generic.html" %}

{% block content %}

<div class="w3-center w3-margin-right w3-margin-left w3-handlee">
	<h1 class="w3-handlee w3-jumbo">Per fare un regalo</h1>
	<h3 class="w3-handlee">Puoi partecipare a regalarci il viaggio di nozze o contribuire a costruire il nostro possimo futuro insieme.</h3>
 	<h3 class="w3-handlee">Le coordinate del nostro conto: IT37Q0316901600CC0010728699</h3>
	<br>
	<br>
	<h3 class="w3-handlee">Grazie! La tua email è stata inviata</h3>




{% endblock %}