{% extends "savethedate/base_generic.html" %}

{% block content %}

<div class="w3-center w3-margin-right w3-margin-left w3-handlee">
	<h1 class="w3-handlee w3-jumbo">Per fare un regalo</h1>
	<h3 class="w3-handlee">Se vuoi puoi contribuire al nostro viaggio di nozze o al nostro prossimo futuro insieme.</h3>
 	<h3 class="w3-handlee" style="word-wrap:break-word;">Le coordinate del nostro conto: IT37Q0316901600CC0010728699</h3>
	
	<br>
	<h2 class="w3-handlee">Lasciaci una frase di augurio:</h2>
	<img src="/static/savethedate/biglietto.png" class="w3-round" alt="Biglietto" class="w3-image" style="width:60%; max-width:200px"/>
	
	{% if form.errors %}
        <p style="color: red;">
            Correggi gli errori sotto:
        </p>
    {% endif %}
	<p style="color: red;">
	{{ form.la_tua_email.errors }}
	{{ form.messaggio.errors }}
	</p>
	
	
	
	<form method="post">
    {% csrf_token %}
	<div class="w3-content" style="width:100%;max-width:500px">
    <div class="w3-content">
			<div class="w3-quarter"><b>La tua email:</b></div>
			<div class="w3-threequarter">{{ form.la_tua_email }}</div>
	</div>
	<br>
	<br>
	<div class="w3-content">
			<div class="w3-quarter"><b>Messaggio</b>:</div>
			<div class="w3-threequarter">{{ form.messaggio }}</div>
	</div>
	<br>
	<br>
	<div class="form-actions">
	  <button type="submit">Invia</button>
    </div>
	</div>
	<br>
 
</form>
</div>
<br>
<br>
<br>

{% endblock %}