{% extends "savethedate/base_generic.html" %}

{% block content %}

<div class="w3-center w3-margin-right w3-margin-left w3-handlee">
	<h1 class="w3-handlee w3-jumbo">Per fare un regalo</h1>
	<h3 class="w3-handlee">Puoi partecipare a regalarci il viaggio di nozze o contribuire a costruire il nostro possimo futuro insieme.</h3>
 	<h3 class="w3-handlee">Le coordinate del nostro conto: IT37Q0316901600CC0010728699</h3>
	<img src="/static/savethedate/biglietto.png" class="w3-round w3-margin" alt="Biglietto" class="w3-image" style="width:90%; max-width:300px"/>

	<h3 class="w3-handlee">Lasciaci una frase di augurio:</h3>
	
	{% if form.errors %}
        <p style="color: red;">
            Correggi gli errori sotto:
        </p>
    {% endif %}
	<p style="color: red;">
	{{ form.la_tua_email.errors }}
	{{ form.messaggio.errors }}
	</p>
	
	
	
	<form method="post">
    {% csrf_token %}
	<div class="w3-content" style="width:100%;max-width:500px">
    <div class="w3-content">
			<div class="w3-quarter">La tua email:</div>
			<div class="w3-threequarter">{{ form.la_tua_email }}</div>
	</div>
	<br>
	<br>
	<div class="w3-content">
			<div class="w3-quarter">Messaggio:</div>
			<div class="w3-threequarter">{{ form.messaggio }}</div>
	</div>
	<br>
	<br>
	<div class="form-actions">
	  <button type="submit">Invia</button>
    </div>
	</div>
	<br>
 
</form>
</div>
<br>
<br>
<br>

{% endblock %}