{% extends "savethedate/base_generic.html" %}

{% block content %}

<div class="w3-center w3-margin-right w3-margin-left w3-handlee">
	<h1 class="w3-handlee w3-jumbo">Villa Giacomini</h1>
		<img src="/static/savethedate/arance.png" class="w3-round w3-margin" alt="Arance" class="w3-image" style="max-width:100px"/>
	<h3 class="w3-handlee">Villa Giacomini si trova a Cessalto (TV) in via Donegal 64.</h3>
	<br>
	<img src="/static/savethedate/parco_pozzo.jpg" class="w3-round" alt="Vista del parco" class="w3-image" style="width:100%;max-width:600px"/>
	<br>
	<img src="/static/savethedate/limoni.png" class="w3-round w3-margin" alt="Limoni" class="w3-image" style="max-width:120px"/>

</div>
<br>
<div class="w3-center w3-margin-right w3-margin-left w3-handlee">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2786.5010465035994!2d12.632802115565418!3d45.70098427910451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4779588ad2db37b7%3A0x259063a62969fdf1!2sVilla+Giacomini!5e0!3m2!1sit!2sit!4v1488640835905" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<br>
</div>


{% endblock %}